* {
    margin: 0;
    padding: 0;
}

/* 版型 */
.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
    /* height: 3000px; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before, .clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.header {
    height: 42px;
    /* 层叠W里面的margin */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /* background: url(images/logo.png) no-repeat; */
    
}

 /* 导航栏可以不用给宽度，将来可以继续添加其余问题，宽度根据内部块元素决定 */
.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}
/* 因为导航栏里面文字不一样多，所以最好给链接a左右padding撑开盒子，而不是指定宽度 */
.nav ul li a {
    display: block;
    padding: 0 10px;
    line-height: 42px;
    text-decoration: none;
    font-size: 18px;
    color: #050505
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float:left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    /* 行内块元素默认有缝隙，加上浮动后，缝隙消失 */
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 去掉默认边框 */
    border: none;
    background: url(images/btn.png);
} 

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}


.banner {
    height: 421px;
    background-color: blue;
}


.banner .w {
   height: 421px;
   background: url(./images/banner.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, .3);
    /* text-align: center; */
}

.subnav ul li {
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

/* 右侧小箭头 */
.subnav ul li a span {
    float: right;
}


.course {
    float: right;
    width: 230px;
    height: 300px;
    /* 浮动的盒子不会有外边距合并问题 */
    margin-top: 50px;
    background-color: #fff;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.bd {
    padding: 0 20px;
    background-color: #fff;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

.goods {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .1);
    /* 行高会继承给孩子 */
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px ;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #000;
    border-left: 1px solid #ccc;
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
    
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

/* 把li的父亲ul修改的足够宽一行能装开5个盒子 */
.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    background-color: #fff;
    margin-bottom: 15px;
}


.box-bd ul li img {
    width: 100%;
    height: 150px;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505
}


.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999
}

.box-bd .info span {
    color: #ff7c2d;
    margin-right: 10px;
}

.footer {
    height: 415px;
    background-color: #fff;
}

.footer .w {
    padding-top: 35px;
}


.copyright {
    float: left;
    /* 不用给宽度，浮动的盒子自动检测宽度 */

}

.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.links ul li {
    float: left;
    margin-right: 20px;
}

.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 16px;
    line-height: 33px; 
}

.links {
    float: right;
}

.links dl {
    float: left;
    margin-left: 100px;
}

.links dl dt {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.links dl dd a{
    font-size: 12px;
    color: #333;
}